*,
*::after,
*::before {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: inherit;
}

.background {
  width: 100vw;
  height: 95vh;
  background-position: center;
  background-size: cover;
  display: flex;
  row-gap: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.title {
  text-align: center;
  width: 300px;
  font-size: 2.8rem;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-shadow: 0.1em 0.15em #5e5e5e88;
  z-index: 10;
}

.footer {
  height: 5vh;
  text-align: center;
}

.footer-span {
  height: 100%;
  display: flex;
  font-size: .75rem;
  font-family: system-ui;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {

  .title {
    font-size: 3.2rem;
    width: 450px;
  }
}


@media (min-width: 700px) {

  .title {
    font-size: 4rem;
    width: 500px;
  }

  .footer-span {
    font-size: 1rem;
  }
}

@media (max-height: 720px) {
  .title {
    font-size: 2rem;
  }
}